@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$bg-color-blue: #0c2556;
$bg-color-lightblue: rgb(31, 43, 80);
$bg-color-darkwhite: #fafbfd;
$bg-color-hover-white: #f7f8fa;
$border-color-white: #f5f5f5;
$font-color-black: #081333;
$font-color-blue: #1976d2;
$font-color-gray: rgb(78, 81, 103);
$font-color-white: #e0e0e0;
$font-color-red: #fc4444;

html,
body {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Poppins" !important;
  background-color: white;
  padding: 0px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: unset;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  text-rendering: optimizeLegibility !important;
}
img {
  image-rendering: crisp-edges;
}
#__next {
  height: 100%;
}

.css-1rhbuit-multiValue {
  background-color: #ebf2ff !important;
  border: 1px solid #4f91ff !important;
}

.css-12jo7m5 {
  background-color: #ebf2ff;
  color: #2264d1 !important;
  font-family: "Poppins";
  font-weight: 500 !important;
}

.input-group-text {
  background-color: #f5f5f5 !important;
  color: #1e88e5 !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  i {
    margin-right: 0px;
  }
}

.imgProfile {
  max-width: 90px !important;
  min-width:  90px !important;
  min-height: 90px !important;
  max-height: 90px !important;
  border-radius: 50%;
  object-fit: cover;
}

.pSnack {
  font-family: "Poppins";
  color: #075641;
  font-weight: 600;
  i {
    margin-right: 10px;
    font-size: 1.2rem;
  }
}

.pSnackError {
  font-family: "Poppins";
  color: #e53e3e;
  font-weight: 600;
  i {
    margin-right: 10px;
    font-size: 1.2rem;
  }
}

.btnBlue {
  color: white;
  border: 0px;
  background-color: $font-color-blue;
  cursor: pointer;
  box-shadow: 0 2px 12px -6px $font-color-blue !important;
  border-radius: 5px;
  font-weight: 400 !important;
  font-size: 15px;
  padding: 8px 10px;
  i {
    margin-right: 8px;
  }
}

.btnDeletephone {
  box-shadow: rgba(10, 57, 119, 0.3) 0px 1px 2px 0px,
    rgba(10, 57, 119, 0.15) 0px 2px 6px 2px;
  margin-right: 10px;
  background-color: white;
  font-size: 14px;
  color: #fc4444;
  border: 0px;
  border-radius: 50%;
  min-width: 35px;
  max-width: 35px !important;
  max-height: 35px !important;
  min-height: 35px !important;
  margin-top: 10px;
  transform: all 0.1s;
  i {
    font-size: 1.2rem !important;
  }
  &:hover {
    background-color: #fc4444;
    color: white;
  }
}

.pSession,
.pAdmin,
.pActive {
  color: #02b176 !important;
  background-color: #f1f8e9 !important;
  padding: 4px 10px;
  border-radius: 5px;
  width: max-content;
}

.pVirtual {
  color: #1565c0 !important;
  background-color: #ecf6ff !important;
  padding: 4px 10px;
  border-radius: 5px;
  width: max-content;
}

.pPhone {
  color: #ffc48f !important;
  background-color: #fff4eb !important;
  padding: 4px 10px;
  border-radius: 5px;
  width: max-content;
}

.pTravel,
.pDischarge {
  color: #f66c6a !important;
  background-color: #fef4f3 !important;
  padding: 4px 10px;
  border-radius: 5px;
  width: max-content;
}

.pMeeting,
.pClinician {
  color: #6f51ed !important;
  background-color: #f4f3fb !important;
  padding: 4px 10px;
  border-radius: 5px;
  width: max-content;
}

.avatar {
  background-color: #0952b1 !important;
  color: white;
  font-size: 15px !important;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  margin-right: 10px;
}

.avatarImage {
  margin-right: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

#Low {
  border: 2px dashed green !important;
}

#Medium {
  border: 2px dashed orange !important;
}

#High {
  border: 2px dashed #fc4444 !important;
}

.activeUl {
  color: $bg-color-blue !important;
  font-weight: 500;
  border-bottom: 2px solid $bg-color-blue !important;
}

.ulDashboard {
  list-style-type: none;
  overflow: hidden;
  margin: 0px auto;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 30px;
  margin-left: 2px;

  li {
    float: left;
    font-size: 15px;
    display: block;
    color: $font-color-gray;
    text-align: center;
    margin-right: 35px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0px;
    width: max-content;
    text-align: center;
    padding-bottom: 7px;
    font-size: 14px;
  }

  .activeUl {
    color: $bg-color-blue !important;
    font-weight: 500;
    border-bottom: 2px solid $bg-color-blue !important;
  }
}

.hrDashboard {
  background-color: #9e9e9e;
  margin-top: 0px;
  margin-left: 5px;
}

.conModal {
  padding: 25px !important;
  .pHeader {
    font-size: 1.1rem;
    color: $font-color-black;
    font-weight: 500;
    margin-bottom: 2px;
  }
  .pHeadersub {
    font-size: 13px;
    color: $font-color-gray;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .pTitleInput {
    font-size: 14px;
    color: $font-color-black;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 13px;
  }
}

.pAddnum {
  font-size: 13px;
  color: #424242;
  font-weight: 500;
  font-family: "Inter";
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  color: $font-color-blue;
  width: max-content;
  i {
    margin-right: 10px;
    font-size: 1.2rem;
  }
}

.conPages {
  padding-left: 250px !important;
  padding-top: 90px;
  padding-right: 25px !important;
  margin-bottom: 40px !important;
}

.txtInput {
  padding: 8px !important;
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 15px !important;
  font-weight: 500;
  width: 100%;
  min-height: 40px !important;
  color: $font-color-black;
  background: #f7f8fa !important;
  border: 2px solid #eeeeee;
  box-shadow: none !important;
  outline: none !important;
  &:focus {
    border: 2px solid $font-color-blue;
  }
}

.txtForm {
  padding: 8px !important;
  border-radius: 5px !important;
  font-family: "Poppins";
  padding-left: 35px !important;
  font-size: 15px !important;
  font-weight: 500;
  min-height: 40px !important;
  color: $font-color-black;
  border: 2px solid #eeeeee;
  box-shadow: none !important;
  outline: none !important;
  background: #f7f8fa url(../public/Image/icon/search.png) left no-repeat;
  background-size: 15px;
  background-position: 10px;
  &:focus {
    border: 2px solid $font-color-blue;
  }
}

.btnUpload {
  border: 2px solid #eeeeee;
  color: $font-color-blue;
  font-size: 1.2rem;
  padding-left: 10px;
  padding-right: 10px;
}

.txtUpload {
  padding: 8px !important;
  border-radius: 5px !important;
  font-size: 15px !important;
  font-weight: 500;
  min-height: 40px !important;
  color: $font-color-black;
  border: 2px solid #eeeeee;
  box-shadow: none !important;
  outline: none !important;
  background-color: #f7f8fa !important;
  &:focus {
    border: 2px solid $font-color-blue;
  }
}

.textarea {
  padding: 8px !important;
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 15px !important;
  font-weight: 500;
  width: 100%;
  min-height: 42px !important;
  color: $font-color-black;
  background: #f7f8fa !important;
  border: 2px solid #eeeeee;
  box-shadow: none !important;
  outline: none !important;
  &:focus {
    border: 2px solid $font-color-blue;
  }
}

.txtError {
  padding: 8px;
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  color: $font-color-black;
  background: #fef1f2;
  border: 2px solid #fc4444;
  outline: none;
  &:focus {
    border: 2px solid $font-color-blue;
  }
}

.pError {
  font-size: 13px;
  margin-bottom: -5px;
  margin-top: 7px;
  color: #fc4444;
}

.btnCancelUpload {
  background-color: transparent !important;
  font-size: 14px;
  color: #fc4444;
  margin-top: 30px;
  border: 0px;
  margin-left: 10px;
}

.btnSaveUpload {
  color: $font-color-black;
  font-size: 14px;
  padding: 5px 25px;
  background-color: white;
  border-radius: 5px;
  margin-top: 30px;
  border-radius: 25px;
  border: 1px solid #d3d3d3;
  box-shadow: 0 2px 8px 0 rgb(99 99 99 / 20%);
}

.pUpload {
  font-size: 12px !important;
  font-weight: 400 !important;
  margin-bottom: 0px;
}

.btnCancel {
  box-shadow: rgba(10, 57, 119, 0.3) 0px 1px 2px 0px,
    rgba(10, 57, 119, 0.15) 0px 2px 6px 2px;
  margin-right: 10px;
  background-color: white;
  font-size: 14px;
  color: #fc4444;
  border: 0px;
  border-radius: 5px;
  padding: 9px 25px;
  margin-top: 15px;
}

.btnSave {
  color: white;
  font-size: 14px;
  border: 0px;
  padding: 9px 25px;
  background-color: $font-color-blue;
  border-radius: 5px;
  margin-top: 15px;
  box-shadow: 0 2px 12px -6px #1976d2 !important;
}

.dropdownFilter {
  .dropdown-toggle::after {
    display: none;
  }
  .btnFilter {
    background-color: white;
    color: $font-color-black;
    border-radius: 5px !important;
    font-size: 15px !important;
    font-weight: 500;
    padding: 7px 15px;
    max-height: 40 !important;
    box-shadow: 0 0 30px rgb(28 39 60 / 8%) !important;
    border: 1px solid rgba(28, 39, 60, 0.12) !important;
    width: 100%;
    margin-right: 10px;
    outline: none !important;
    i {
      margin-right: 10px;
      font-size: 17px !important;
    }
  }
}

.modalDelete {
  .modal-dialog {
    width: 100%;
    border-radius: 5px;
  }
  .modal-content {
    border-radius: 5px;
  }
  .conDelete {
    padding: 25px 25px;
    background-color: #1d1e22;
    border-radius: 5px;
    i {
      color: white;
      font-size: 2.5rem;
    }
    .pTitle {
      color: white;
      font-size: 17px;
      font-weight: 400;
      margin-top: 20px;
      margin-bottom: 2px;
      font-family: "Poppins";
    }
    .pTitlesub {
      color: #bdbdbd;
      font-size: 14px;
      margin-bottom: 10px;
      margin-top: 5px;
    }
    .btnCancel {
      color: white;
      font-size: 14px;
      width: 100%;
      border-radius: 5px;
      background-color: #2f3037;
      border: 0px;
      padding: 10px;
      margin-top: 10px;
    }
    .btnDiscard {
      color: white;
      font-size: 14px;
      width: 100%;
      border-radius: 5px;
      background-color: #0952b1;
      border: 0px;
      padding: 10px;
      margin-top: 10px;
    }
  }
}

.conPagination {
  background-color: wihte !important;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 0 30px rgb(28 39 60 / 8%);
  border: 1px solid rgba(28, 39, 60, 0.12);
  padding: 15px 0px !important;
}

.conLayout {
  background-color: wihte !important;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 0 30px rgb(28 39 60 / 8%) !important;
  border: 1px solid rgba(28, 39, 60, 0.12) !important;
  padding: 0px;
}

.conTable {
  background-color: wihte !important;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 0 30px rgb(28 39 60 / 8%);
  border: 1px solid rgba(28, 39, 60, 0.12);
  padding: 0px !important;
}

table {
  border-collapse: separate;
  border-spacing: 0 2px !important;
  border-top: 1px solid gray !important;
  thead {
    tr {
      border-bottom: 1px solid black !important;
      th {
        font-family: "Poppins";
        padding: 10px !important;
        padding-bottom: 12px !important;
        font-size: 14px;
        color: $font-color-gray;
        font-weight: 500 !important;
        background-color: #f5f5f5 !important;
        text-transform: uppercase;
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;
      &:hover {
        background-color: #f3f2ee;
      }
      td {
        transition: all 0.5ms;
        vertical-align: middle !important;
        p {
          font-size: 15px;
          color: $font-color-black;
          font-weight: 500;
          text-transform: capitalize;
          margin-bottom: 2px;
        }
        .pDay {
          color: $font-color-gray;
          font-size: 14px;
        }
        .form-inline {
          .imgProfile {
            border-radius: 50%;
            object-fit: cover;
            margin-top: 5px;
            margin-right: 15px;
            max-width: 40px;
            min-width: 40px;
            max-height: 40px;
            min-height: 40px;
            border: 1px solid lightgrey;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          }

          .pImgname {
            background-color: #0952b1;
            color: white;
            font-size: 14px;
            max-width: 42px;
            min-width: 42px;
            max-height: 42px;
            min-height: 42px;
            border-radius: 50%;
            margin-bottom: 0px;
            margin-top: 5px;
            margin-right: 15px;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            border: 1px solid lightgrey;
            padding-top: 8px;
            padding-bottom: 4px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            text-transform: uppercase;
            position: relative;
          }
          .pNamelist {
            text-align: right !important;
          }
          .profileImage {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $font-color-blue;
            font-size: 14px;
            color: white;
            align-items: center;
            font-family: "Poppins";
            display: flex;
            margin-right: 10px;
            justify-content: center;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          }
        }
        i {
          color: #424242;
          font-size: 1.1rem;
          box-shadow: 0 0 30px rgb(28 39 60 / 8%);
          border: 1px solid rgba(28, 39, 60, 0.12);
          border-radius: 5px;
          padding: 2px 5px;
          margin-left: 5px;
          cursor: pointer;
          font-weight: 600;
          transform: all 0.1s;
          &:hover {
            background-color: #1976d2;
            color: whitesmoke;
          }
        }
      }
    }
  }
}

//navbar

.conNavbar {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 70px;
  min-height: 55px;
  width: 100vw;
  padding: 0px 30px;
  box-shadow: 0 0 30px rgb(28 39 60 / 8%);
  border-bottom: 1px solid rgba(28, 39, 60, 0.12);
  z-index: 3;
  .imgLogoNav {
    width: 180px;
    margin-top: 20px;
  }
  #imgProfile {
    border-radius: 50%;
    object-fit: cover;
    float: right;
    margin-top: 20px;
    max-width: 35px;
    min-width: 35px;
    max-height: 35px;
    min-height: 35px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  #dropdown-basic-button {
    float: right;
    margin-top: 12px;
    background-color: transparent !important;
    font-size: 15px;
    color: $font-color-black;
    border: none !important;
    font-weight: 600;
    outline: none !important;

    &:focus {
      border-color: none !important;
      outline: 0;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }

    .pRole {
      margin-bottom: 0px;
      text-align: left !important;
      color: $font-color-gray;
      font-size: 13px;
      text-transform: capitalize;
      font-family: "Poppins";
      width: max-content;
      float: left;
    }

    .pFname {
      text-align: left !important;
      text-transform: capitalize;
      font-family: "Poppins";
      font-size: 15px;
      font-weight: 500;
    }
  }
  .divHorizontal {
    width: 2px;
    height: 25px;
    float: right;
    border-radius: 5px;
    background-color: lightgray;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 30px;
  }

  .divBell {
    position: relative;
    float: right;
    width: 23px;
    margin-top: 20px;
    cursor: pointer;
    .numberCircle {
      top: -5px;
      background-color: #ef5350;
      border-radius: 50%;
      font-family: "Inter";
      font-weight: 500;
      left: 14px;
      position: absolute;
      color: white;
      font-size: 13px;
      width: 1.4em;
      height: 1.4em;
      box-sizing: initial;
      text-align: center;
      line-height: 1.5em;
      box-sizing: content-box;
      border-radius: 50%;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    i {
      color: #525252;
      font-size: 1.5rem;
      &:hover {
        color: #1976d2;
      }
    }
  }
}

//login
.conLogin {
  height: 100vh;
  position: relative;
  img {
    width: 200px;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 3;
  }
  .rowLogin {
    height: 100vh;
    .divLogin {
      max-width: 350px;
      .pHeader {
        font-weight: 700;
        font-size: 1.7rem;
        color: $font-color-black;
        margin-bottom: 2px;
      }
      .pHeadersub {
        font-size: 500;
        color: $font-color-gray;
        font-size: 14px;
      }
      .pHeaderinput {
        font-weight: 500;
        color: #424242;
        font-size: 15px;
        margin-bottom: 2px;
        margin-top: 8px;
      }
      .pForgot {
        font-weight: 500;
        color: #1e88e5;
        font-size: 13px;
        margin-top: 15px;
        cursor: pointer;
        text-align: right;
      }
      .btnLogin {
        font-size: 14px;
        background-color: #1976d2;
        border-radius: 5px;
        border: 0px;
        outline: none;
        width: 100%;
        margin-top: 25px;
        padding: 10px;
        color: white;
        box-shadow: 0 2px 12px -6px #1976d2 !important;
      }
      .pInvalid {
        font-size: 13px;
        color: #fc4444;
        font-weight: 500;
        margin-bottom: -10px;
        margin-top: 13px;
        display: none;
      }
    }
    .colVideo {
      height: 100%;
      padding: 0px;
      position: relative;
      .bgOverlay {
        height: 100%;
        width: 100%;
        z-index: 2;
        background-color: rgba(25, 118, 210, 0.4);
        display: flex;
        align-items: center;
        position: relative;
        .childOverlay {
          max-width: 500px;
          .pOverlayHeader {
            color: white;
            font-weight: 600;
            font-size: 2.5rem;
            margin-bottom: 0px;
            line-height: 1.2em;
          }
          .pOverlayHeadersub {
            color: #eeeeee;
            font-weight: 400;
            font-size: 14px;
            margin-top: 15px;
            margin-bottom: 0px;
          }
        }
      }
      .video-fluid {
        position: absolute;
        width: 100%;
        height: 100vh;
        min-height: 100%;
        object-fit: fill;
        z-index: 0;
        top: 0px;
      }
    }
  }
}

.conDashboard {
  .pHeader {
    font-size: 1.3rem;
    font-weight: 500;
    color: $font-color-black;
    margin-bottom: 2px;
    span {
      font-weight: 600;
    }
  }
  .pHeadersub {
    font-size: 13px;
    font-weight: 400;
    color: $font-color-gray;
  }
}

//patient

.divMembers {
  padding: 20px 25px !important;
  .pHeader {
    font-size: 15px;
    font-weight: 500;
    color: $font-color-black;
    margin-bottom: 5px;
    display: block;
  }
  .btnAdd {
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: $font-color-black;
    margin-right: 0px;
    float: right !important;
    margin-top: -5px;
    border: 0px;
    box-shadow: rgba(10, 57, 119, 0.3) 0px 1px 2px 0px,
      rgba(10, 57, 119, 0.15) 0px 2px 6px 2px;
    &:hover {
      color: $font-color-blue;
    }
  }
  .divList {
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
    transition: all 0.1s;
    margin-bottom: 10px;
    &:hover {
      background-color: #f3f2ee;
    }
    .pNamelist {
      font-size: 15px;
      font-weight: 500;
      color: $font-color-black;
      margin-bottom: -5px;
    }

    .pRelationship {
      font-size: 13px;
      font-weight: 500;
      margin-top: 5px;
      text-transform: capitalize;
      color: $font-color-gray;
      margin-bottom: 0px;
    }
  }
}

.divProfilelist {
  padding: 25px !important;
  padding-bottom: 0px !important;
  position: relative;
  .btnBack {
    border: 0px;
    right: 10px;
    border-radius: 25px;
    width: 45px;
    height: 45px;
    background-color: #0952b1;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 10px;
    z-index: 1;
    outline: none;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
  }
  .btnEdit {
    background-color: white;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    border: 0px;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    font-size: 1.2rem;
    right: 10px;
    box-shadow: rgba(10, 57, 119, 0.3) 0px 1px 2px 0px,
      rgba(10, 57, 119, 0.15) 0px 2px 6px 2px;
    z-index: 1;
  }

  .avatarProfile {
    width: 75px;
    height: 75px;
    margin-right: 15px;
    background-color: #0952b1;
    font-size: 2rem;
  }
  .pFullname {
    font-family: "Poppins";
    font-size: 1.3rem;
    font-weight: 700;
    color: $font-color-black;
    margin-bottom: -3px;
    word-break: break-all !important;
  }
  .pEmail {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    color: $font-color-gray;
  }
}

.divProfileInfo {
  background-color: white;
  transition: all 0.2s !important;
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 20px 25px;
  padding-bottom: 20px;
  margin-top: 10px;
  position: relative;
  box-shadow: 0 0 30px rgb(28 39 60 / 8%) !important;
  border: 1px solid rgba(28, 39, 60, 0.12) !important;
  .pTitle {
    font-size: 15px;
    font-weight: 500;
  }
  .pMargin {
    margin-top: 15px;
    margin-bottom: -5px;
  }
  .pTitlesub {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: 10px;
  }
  .pInfo {
    font-size: 15px;
    font-weight: 500;
  }
}

// Notes

.divNoteslist {
  background-color: white;
  border-radius: 5px;
  padding: 0px !important;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
  .rowHeader {
    padding-top: 10px;
    padding-right: 10px;
    .pHeader {
      font-family: "Poppins";
      font-size: 14px;
      color: $font-color-gray;
      font-weight: 500;
      margin-top: 8px;
      margin-left: 10px;
    }
    .btnAddnotes {
      border: 0px;
      background-color: transparent;
      outline: none;
      margin: 0px;
      float: right;
      padding: auto;
      box-shadow: none !important;
      font-size: 1.2rem;
      &:hover {
        color: $font-color-blue;
      }
    }
  }
  .colList {
    margin: 0px;
  }
}
.react-select--inline {
  display: inline-block;
  margin: 0 0.25em;
}

.conTexteditorWrapper {
  box-shadow: 0 0 30px rgb(28 39 60 / 8%) !important;
  border: 1px solid rgba(28, 39, 60, 0.12) !important;
  min-height: 550px;
  background-color: white !important;
  padding: 0px;
  margin-top: 10px;
  padding: 0px;
  z-index: 1;
  position: relative;
  margin-bottom: 40px;
  .colWrapper {
    margin-top: 5px;
    margin-bottom: 10px;
    z-index: 111111111111111;
    i {
      margin-right: 10px;
      font-size: 1.2rem;
      cursor: pointer;
      &:hover {
        color: $font-color-blue;
      }
    }
    label {
      color: $font-color-gray;
      font-size: 15px;
      font-weight: 500;
    }
  }
  .notesToolbar {
    padding: 0px 0px;
    margin-left: -8px;
    border: 0px;
    border-bottom: 1px solid lightgray;
    background-color: white !important;
    margin-top: -30px;
    position: absolute;
    width: 100%;
    left: 1%;
    padding-left: 10px;
  }
  .notesEditor {
    min-height: 550px;
    height: auto;
    background-color: white !important;
    z-index: -1;
    margin-top: 30px;
    padding: 8px;
    padding-left: 5px;
  }
  .wrapperClassName {
    background-color: white !important;
    z-index: -1;
  }
  .rdw-option-wrapper {
    border: 0px;
    &:hover {
      background-color: lightgray;
      height: 25px;
    }
  }
  .rowFooter {
    border-top: 1px solid lightgray;
    padding-bottom: 10px;
    button {
      float: right;
      i {
        margin-right: 10px;
      }
    }
  }
}

.divUpload {
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center;
  background-color: #f5f5f5;
  border: 2px dashed lightgray;
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  p {
    font-family: "Poppins";
    color: $font-color-gray;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0px;
    i {
      font-size: 2rem;
    }
  }
}

.btnUploadFile {
  font-size: 14px;
  background-color: #1976d2;
  border-radius: 5px;
  border: 0px;
  outline: none;
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  color: white;
  box-shadow: 0 2px 12px -6px #1976d2 !important;
}
