@media only screen and (min-width: 1201px) {
  .divHamburger {
    display: none !important;
  }
  .conPages {
    padding-left: 250px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .divSidebar {
    display: none !important;
  }
  .conPages {
    padding-left: 20px !important;
  }
}

@media only screen and (max-width: 570px) {
  .imgLogoNav,
  .pFname,
  .pRole,
  .dropdown-basic-button {
    display: none !important;
  }
  .divPagination {
    float: none !important;
    div {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

@media only screen and (max-width: 574px) {
  .btnBlue,
  .btnFilter {
    margin-top: 2px !important;
    span {
      font-size: 0px !important;
    }
    i {
      margin-right: 0px !important;
    }
  }
}

@media only screen and (max-width: 800px) {
  .colVideo {
    display: none;
  }
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #no-more-tables tr {
    border: 1px solid #ccc;
  }
  #no-more-tables td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  #no-more-tables td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
  }
  #no-more-tables td:before {
    content: attr(data-title);
  }
}
