@import "./globals";

.divSidebar {
  height: 100vh;
  border-right: 2px solid $border-color-white;
  width: 230px;
  max-width: 230px !important;
  position: fixed;
  background-color: #0C2556;
  padding: 12px;
  left: 0px;
  .imgLogo {
    width: 65px;
    margin-top: 15px;
    margin-left: 0px;
  }
  .pHeader {
    font-size: 13px;
    color: snow;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      font-size: 15px;
      margin-top: 0px;
      cursor: pointer;
      color: #E0E0E0;
      font-weight: 400;
      border-radius: 5px;
      padding: 10px;
      transition: all 0.1s;
      .centered-label {
        display: flex;
        align-items: center;
        i {
          font-size: 1.2rem;
          color: #E0E0E0;
        }
        span {
          font-size: 14px;
          margin-left: 15px;
          font-weight: 400 !important;
        }
      }
      &:hover {
        background-color: rgba(25, 118, 210, 0.7)
      }
    }
  }
  .colUl {
    padding: 8px;
  }
}
